<%= form_with(model: @ratings, local: true) do |form| %>
  
<div>
  <div class="field">
    <%= form.label :rate %>
    <%= form.number_field :rate %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
</div>
<% end %>

