
<table>
	<tr>
			<td colspan="2">
			<p class="review-comment"><%= rating.updated_at %></p>
			<p class="review-comment"><strong><%= link_to rating.dish.name, dish_path(rating.dish) %></strong></p>
		</td>
		<td>
		<% if user_signed_in? %>
					<% if (current_user.admin?||rating.user_id == current_user.id) %>
								<% if (rating.user_id == current_user.id) %>
									<%= link_to image_tag('edit.png', size: "20x20"), edit_dish_rating_path(rating.dish_id, rating), class: "btn btn-custom" %>
								<%end%>
									<%= link_to image_tag('del.png', size: "20x20"), rating_path(rating), method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-custom" %>
							 <% end %>
		<% end %>
		<%= link_to image_tag('hist.png', size: "20x20"),rating_path(rating), class: "btn btn-custom" %>
		<div class="average-rating-rate" data-score=<%= rating.rate %>></div>
 </td>
	</tr>
	<tr>
		<td>
<% if rating.dish.picture.attached?%>
	<%= link_to image_tag(rating.dish.picture, size: "120x90", :alt => rating.dish.name), dish_path(rating.dish_id) %>
<% end %>
</td>
<td>
<% if (rating.user.avatar.attached?)%>
	<%= image_tag(rating.user.avatar, size: "60x60",class: "rounded-circle") %>
<% end %>
<p class="review-comment"><%= rating.user.email %></p>
<%# <%=link_to image_tag('def-user.png', size: "80x60", :alt => rating.user.fullname) %>
</td>
<td>
	<p class="review-comment"><%= rating.comment %></p>
</td>
</tr>
<table>
