<p id="notice"><%= notice %></p>

<h1>Ratings</h1>
<p>
<%= form_tag new_dish_rating_path, method: "get" do %>
  <%= label_tag(:rating, "Search: ") %>
  <%= text_field_tag(:rating) %>
  <%= submit_tag("Search") %>
<% end %>
</p>
<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Dish ID</th>
      <th>Rate</th>
      <th>Review</th>
      <th>Created By</th>
      <th>Updated At</th>
      <th colspan="3">- Admin Only -</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.created_at %></td>
        <td><%= rating.dish_id %></td>
        <td><%= rating.rate %></td>
        <td><%= rating.comment %></td>
        <td><%= rating.user.email %></td>
        <td><%= rating.updated_at %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<br>

  <p class='center'><%= image_tag("add-circle.png", size: "16x16", :alt => "New") %>&nbsp;
  <%= link_to 'New Rating', new_dish_rating_path %>
