<html>

<head>
  <title>Food Rating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if flash[:error] %>
    <div id="error">
        <%= flash[:error] %>
    </div>
<% end %>

<ul>
  <li> <%= link_to "Categories", categories_path %> </li>
  <li> <%= link_to "Stall", stalls_path %> </li>
  <li> <%= link_to "Dishes", dishes_path %> </li>
  <li> <%= link_to "Ratings", ratings_path %> </li>
</ul>
</html>
