<!-- ================================ Last Updated ================================ -->
<div class='ablock'>
  <div class='ahead'>
  <h4>Last Update <%=image_tag('new-br.png', size: "80x40")%></h4>
  <table>
    <tbody>
      <% col_size = 1
          @newdishes.each do |dish|
              if (col_size%3)==1 %>
                <tr>
              <% end %>
              <td>
                <p class='center'><strong><%= dish.name %></strong></p>
                <%= link_to image_tag(dish.picture, size: "220x165", :alt => dish.name), dish %>
              </td>
              <% if (col_size%3)==0 %>
                </tr>
              <%end
              col_size = col_size+1
              %>
         <% end %>
    </tbody>
  </table>
  <%= will_paginate @newdishes %>
  </div>
</div>
<!-- ================================ All Dishes ================================ -->
<div class='ablock'>
  <div class='ahead'>
  <h4>All Dishes</h4>
  <table>
    <tbody>
      <% col_size = 1
          @dishes.each do |dish|
              if (col_size%3)==1 %>
                <tr>
              <% end %>
              <td>
              <p class='center'><strong><%= dish.name %></strong></p>
            <%= link_to image_tag(dish.picture, size: "220x165", :alt => dish.name), dish %>
          </td>
              <%if (col_size%3)==0 %>
                </tr>
              <% end
              col_size = col_size+1 %>
         <% end %>
    </tbody>
  </table>
  <%= will_paginate @dishes %>
  </div>
</div>
<!-- ================================ Categories ================================ -->
<br>
<div >
  <table class='tblock'>
    <tbody>
  	  <% col_size = 1
      @categories.each do |category|
      if (col_size%5)==1  %>
        <tr>
      <% end %>
        <th><%= link_to category.name, category %></th>
        <%if (col_size%5)==0  %>
          </tr>
        <% end %>
        <% col_size = col_size+1 %>
   <% end %>
    </tbody>
  </table>
  <%= will_paginate @categories %>
</div>
<!-- ================================ Stalls ================================ -->
<br>
<div class='ablock'>
  <div class='ahead'>
  <h4>Stalls</h4>
  <table>
    <tbody>
      <% col_size = 1
      @stalls.each do |stall|
      if (col_size%4)>0
        tropen = '<tr>'
      else
        tropen = ''
      end %>
          <td><%= link_to image_tag(stall.picture, size: "220x165", :alt => stall.name), stall %>
          <br><p class='center'><%= col_size.to_s+'. '+stall.name %></p></td>
          <%if (col_size%4)>0
            trclose = '</tr>'
          else
            trclose = ''
          end
          col_size = col_size+1
     end %>
    </tbody>
  </table>
  <%= will_paginate @stalls %>
  </div>
</div>
<!-- ================================ Ratings ================================ -->
<br>
<h1><%=image_tag('review.png', size: "60x60")%> Last Ratings</h1>
<!-- <div class='ablock'> -->
  <div class='ahead'>
  <div class="review">
    <!-- Where the reviews/ratings will go -->
    <%= render @ratings %>
    <div>
  <%= will_paginate @ratings %>
  </div>
</div>
<!-- <div > -->
<%# <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure to delete?' } %>
