
<div class='ablock'>
  <h5>New Dishes</h5>

</div>
<div >
  <table class='tblock'>
    <thead>
      <tr>
        <% b_size = 4 %>
        <th>Categories</th>
        <th colspan="<%=b_size%>"></th>
      </tr>
    </thead>
    <tbody>
  <tr>
  	  <% @categories.each do |category| %>
          <td><%= category.name %></td>
          <!-- <td><%= link_to 'Show', category %></td> -->
  	       <!-- <td><%= best_in_place category, :name %></td> -->
          <!-- <td><%= link_to 'Edit', edit_category_path(category) %></td> -->
          <!-- <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure to delete?' } %></td> -->
        <% end %>
      </tr>
    </tbody>
  </table>

  <br>
  <%= will_paginate @categories %>
</div>
<div class='ablock'>
  <h5>Restaurants</h5>

</div>
