<html>

<head>
  <title>Food Rating</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<% if flash[:error] %>
    <div id="error">
        <%= flash[:error] %>
    </div>
<% end %>

<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <div id="container">
            <div id="user_status">
                <li> <%= link_to "Sign up", new_user_registration_path %> </li> 
                <% if user_signed_in? %>
                    Welcome <%= current_user.email %>! Not you?
                    <li> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </li>
                <% else %> 
                    <li> <%= link_to "Sign in", new_user_session_path %> </li>
                <% end %>
            </div>
            <%= yield %>
        </div>
    </ul>
</nav>

</html>