<% if user_signed_in? %>
<div class= "profile">
  <div align="center">
  <% if (current_user.avatar.attached?)%>
    <%= image_tag(current_user.avatar, size: "250x150", class: 'rounded-circle') %>
  <% end %>
      <h1>
        <%= current_user.fullname %>
      </h1>
      <p>
        <%= link_to "Edit My Profile", edit_user_registration_path %>
      </p>
      <p>
        <%= link_to "My Ratings & Reviews History", '/home/review' %>
      </p>
      <% if current_user.admin?%>
      <p>
        <%= link_to "All Ratings & Reviews (Admin Only)", '/ratings' %>
      </p>
      <% end %>
      
      <%else%>
          <div class='center'>Please Log-In</div>
      <% end %>
  </div>
</div>