<html>

<head>
  <title>Stall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class='ablock'>

</div>
<% if user_signed_in? %>
    <% if current_user.stall? %>
        &emsp;<%= link_to 'Edit', edit_dish_path(@dish) %>
        &emsp;<%= link_to "My Dishes", dishes_path %>
    <% end %>
   |&emsp;<%= link_to 'Back', dishes_path %>
<% end %>
</html>
