<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Dish Name</b>
    <%= form.text_field :name, :class => "fcontrol" %>
  </div>

  <div class="field">
    <b>Description</b>
    <%= form.text_area :desc %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture, :class => "fcontrol"  %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= collection_select(:dish, :category_id, @categories, :id, :name, {:prompt => false}) %>
  </div>

  <div class="field">
    <%= form.label :stall_id %>
    <%= collection_select(:dish, :stall_id, @stalls, :id, :name, {:prompt => false}) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
