<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dish.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @dish.desc %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @dish.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category %>
</p>

<p>
  <strong>Stall:</strong>
  <%= @dish.stall %>
</p>

<p>
  <strong>User:</strong>
  <%= @dish.user %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
