<p id="notice"><%= notice %></p>
<div class='center'>
  <div class='center'>
  <% if @dish.picture%>
    <%= image_tag(@dish.picture, size: "400x300", :alt => @dish.name) %>
  <% end %>
<p>
  <h2>Dish: <%= @dish.name %></h2>
</p>
<div class='sblock'>
<p>
  <strong>Description</strong>
  <%= @dish.desc %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @dish.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category.name %>
</p>

<p>
  <strong>Stall:</strong>
  <%= @dish.stall.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @dish.user.email %>
</p>

<p>
  <strong>Average Rating</strong>
	<div class="average-rating-rate" data-score=<%= @average_rating %>></div>
	<span class="number-of-ratings">Based on <%= @dish.ratings.count %> ratings</span>
</p>
<% if user_signed_in? && (current_user.admin?||current_user.id==@dish.user_id)%>
  <td><%= link_to 'Edit', edit_dish_path(@dish) %></td>
  <td><%= link_to 'Destroy', @dish, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>

</div>


<div class="row">
<div class="col-md-4">

		<div class="review">

      <!-- Where the reviews/ratings will go -->
      <h1><%=image_tag('review.png', size: "60x40")%> Ratings&Reviews</h1>
      <%= render @dish.ratings %>

<% if user_signed_in? %>
			<div>
				<h4><%= link_to "Add Rating", new_dish_rating_path(@dish), class: "btn-custom" %></h4>
			</div>
  <% end %>
		</div>
    </div>
	</div>


<br>

</div>
