<p id="notice"><%= notice %></p>
<div class='center'>
<%= image_tag(@dish.picture, size: "400x300", :alt => @dish.name) %>

<p>
  <h2>Dish: <%= @dish.name %></h2>
</p>
<div class='sblock'>
<p>
  <strong>Description</strong>
  <%= @dish.desc %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @dish.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category.name %>
</p>

<p>
  <strong>Stall:</strong>
  <%= @dish.stall.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @dish.user.email %>
</p>
</div>
<br>
<p>
<% if user_signed_in? %>
    <% if current_user.admin? %>
        &emsp;<%= link_to 'Edit', edit_dish_path(@dish) %>
        &emsp;<%= link_to "Create Review", 'reviews/new' %>
    <% end %>
<% end %>
</p>
</div>
