<p id="notice"><%= notice %></p>
<div class='center'>


<p>
  <h2>Dish: <%= @dish.name %></h2>
</p>
<div class='sblock'>
<p>
  <strong>Description</strong>
  <%= @dish.desc %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @dish.picture %>
</p>

<p>
  <strong>Category:</strong>
  <%= @dish.category.name %>
</p>

<p>
  <strong>Stall:</strong>
  <%= @dish.stall.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @dish.user.email %>
</p>

<p>
  <strong>Average Rating</strong>
	<div class="average-rating-rate" data-score=<%= @average_rating %>></div>
	<span class="number-of-ratings">Based on <%= @dish.ratings.count %> ratings</span>
</p>


</div>
<% if user_signed_in? %>

<div class="row">
<div class="col-md-4">

		<div class="review">

      <!-- Where the reviews/ratings will go -->
      <h1>Ratings</h1>
      <%= render @dish.ratings %>


			<div>
				<%= link_to "Add Rating", new_dish_rating_path(@dish), class: "btn-custom" %>
			</div>

		</div>	
    </div>
	</div>
  <% end %>

<br>

</div>

<script>
	$('.rating-rate').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>


<script>
	$('.average-rating-rate').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>