<!DOCTYPE html>
<html>
<head>
    <title>PS-Web05</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      Welcome <%= current_user.email%> Not you? <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>&emsp;
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
    <div class='abanner'>
        AIT Food Ratings
    </div>
    <!-- ================================ Notice ================================ -->
    <p class='center'>
    <% if flash[:error] %>
        <div id="error">
        <mark color='red'><%= flash[:error] %></mark>
        </div>
    <% elsif flash[:alert] %>
        <div>
        <mark><%= flash[:alert] %></mark>
        </div>
    <% end %>
    <p>
    <!-- ================================ Nav-Search ================================ -->
    <!-- Second navbar for search -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/">WEB05</a></li>
              <!-- <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
               </form> -->
              <%= form_tag dishes_path, method: "get", class: "navbar-form navbar-left", role: "search" do %>
              <%= text_field_tag(:q, "", class: "form-control", placeholder: "Search") %>
              <%# submit_tag("Search")  %>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              <% end %>
              <ul>
        </div>
        <!-- ================================ Nav-Menu ================================ -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_index_path %>&nbsp;</li>
            <li>  <%= link_to "Categories", categories_path %> </li>
            <li>  <%= link_to "Stalls", stalls_path %> </li>
            <li>  <%= link_to "Dishes", dishes_path %></li>
            <% if user_signed_in? %>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Services</a>
                <div class="dropdown-menu" aria-labelledby="navdrop">
                <ul>
                    <%# <li>  <%= link_to "Categories", categories_path %> </li> %>
                    <%# <li>  <%= link_to "Stalls", stalls_path %> </li> %>
                    <%# <li>  <%= link_to "Dishes", dishes_path %></li> %>
                </ul>
                </div>
              </li> -->
              <li><%= link_to "My Reviews", '/home/review' %></li>
              <li><%= link_to "My Profile", '/home/member' %></li>
              <% if current_user.stall? %>
                <li><%= link_to "My Stall", '/home/stall' %></li>
              <% end %>
              <% if current_user.admin? %>
                <li><%= link_to "Users", '/admin/user' %></li>
                <li><%= link_to "Admin", '/admin' %></li>
              <% end %>
            <!-- <li><a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a><li>
             -->
            <% end %>
      <li><%= link_to "About", '/home/about' %></li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <!-- ================================ yield ================================ -->
    <br><br><%= yield %><br><br><br><br>
    <!-- <div class="table100 ver2 m-b-110">
    <div class="table100-head">
    <tr class="row100 head">
    <div class="table100-body js-pscroll ps ps--active-y">
    <table>
    <tbody>
    <tr class="row100 body">
    <td class="cell100 column1">Virtual Cycle</td> -->
    <!-- ================================ Script ================================ -->
	 <script>
    	$('.rating-rate').raty({
    		readOnly: true,
    		score: function() {
    			return $(this).attr('data-score');
    		},
    		path: '/assets/'
    	});
    </script>
    <script>
    	$('.average-rating-rate').raty({
    		readOnly: true,
    		path: '/assets/',
    		score: function() {
    			return $(this).attr('data-score')
    		}
    	});
    </script>
    <script>
    	$('#rating-form').raty({
    		path: '/assets/',
    		scoreName: 'rating[rate]'
    	});
    </script>
    <!-- ================================ Foot ================================ -->
	 <footer>
      <br>
      <%= link_to("HTML syntax validation", "https://validator.w3.org/nu/?doc="+request.original_url) %>
      <br>
      <%= link_to("Issue Tracker", "https://trello.com/b/TdI6bAGa/ait-food-rating") %>
      <br>
  </footer>
  </body>
</html>
