<!DOCTYPE html>
<style>
th {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
}
th, td {
    padding: 15px;
    text-align: left;
}
tr:hover {
    background-color: #f5f5f5;
    }
table#ltable td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}
table#itable th {
    color: white;
    /*font-size: 4;*/
    background-color: #2F4F4F; /*778899;/*#2F4F4F*/
    padding: 15px;
    text-align: left;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0A2A0A;
   color: white;
   text-align: center;
}
.abanner {
    position: static;
    background-color: darkgreen;
    padding: 2px 2px;
}
.ablock {
    position: static;
    border: 2px solid #73AD21;
    max-width:500px;
}
</style>
<html>
  <head>
    <title>PS-Web05</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if flash[:error] %>
        <div id="error">
        <p><mark color='red'><%= flash[:error] %></mark></p>
        </div>
    <% elsif flash[:alert] %>
        <div>
        <p></mark><%= flash[:alert] %></mark></p>
        </div>
    <% end %>
    <nav class="navbar navbar-default">
        <!-- <ul class="nav navbar-nav"> -->
            <div id="container">
                <div id="user_status">
                    <% if user_signed_in? %>
                        Welcome <%= current_user.email %>! Not you?
                        &emsp;<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                        <% if current_user.admin? %>
                          &emsp;<%= link_to "Admin Page", '/admin' %>
                          &emsp;<%= link_to "User Page", '/admin/user' %>
                        <% end %>
                        <% if current_user.stall? %>
                          &emsp;<%= link_to "My Stall", '/home/stall' %>
                        <% end %>
                        &emsp;<%= link_to "My Profile", '/home/member' %>
                    <% else %>
                        &emsp; <%= link_to "Sign in", new_user_session_path %>
                        &emsp; <%= link_to "Sign up", new_user_registration_path %>
                    <% end %>
                </div>
            </div>
        <!-- </ul> -->
    </nav>
    <div class='abanner'><h1><font color='#EBF6F2'><center>GROUP WEB05: AIT Food Ratings</center></font></h1></div>
    <br>  <br>
            <%= yield %>
            <br>
	    <br><br><br>
	    <footer>
	  <center>
		  <font color='white'>
				  <%= link_to("HTML syntax validation", "https://validator.w3.org/nu/?doc=http%3A%2F%2Fweb5.cs.ait.ac.th%2F") %>
				  <br>
          <%= link_to("Issue Tracker", "https://trello.com/b/TdI6bAGa/ait-food-rating") %>
		  </font>
	  </center>
  </footer>
  </body>
</html>
