<!DOCTYPE html>
<html>
<head>
    <title>PS-Web05</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <h4>
      GROUP WEB05: AIT Food Ratings
  </h4>
    <% if flash[:error] %>
        <div id="error">
        <p><mark color='red'><%= flash[:error] %></mark></p>
        </div>
    <% elsif flash[:alert] %>
        <div>
        <p></mark><%= flash[:alert] %></mark></p>
        </div>
    <% end %>

    <!-- Second navbar for search -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
          <li><a class="navbar-brand" href="/">WEB05</a></li>

          <% if user_signed_in? %>
              <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          <% end %>

              <ul>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", home_index_path %>&nbsp;</li>

            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>

            <li>
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Services</a>
                <div class="dropdown-menu" aria-labelledby="navdrop">

                <ul>
                    <li>  <%= link_to "Categories", categories_path %> </li>
                    <li>  <%= link_to "Stalls", stalls_path %> </li>
                    <li>  <%= link_to "Dishes", dishes_path %></li>

                </ul>
                </div>
              </li>

             <!-- <li><%= link_to "My Reviews", '/home/review' %></li> -->
              <li><%= link_to "My Profile", '/home/member' %></li>
              <% if current_user.stall? %>
                <li><%= link_to "My Stall", '/home/stall' %></li>
              <% end %>
              <% if current_user.admin? %>
                <li><%= link_to "Admin", '/admin' %></li>
                <li><%= link_to "Users", '/admin/user' %></li>
              <% end %>

            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <!-- <li><a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a><li>
             -->
            <% end %>
            <br>
            <% if user_signed_in? %>
           <!-- Welcome <%= current_user.email %> ! Not you?-->
            <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>

          </ul>

          <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">

            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>

          </div>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
    <p>

    <br><br><%= yield %><br><br><br><br>

    <!-- <div class="table100 ver2 m-b-110">
    <div class="table100-head">
    <tr class="row100 head">
    <div class="table100-body js-pscroll ps ps--active-y">
    <table>
    <tbody>
    <tr class="row100 body">
    <td class="cell100 column1">Virtual Cycle</td> -->
	 <footer>
      <br>
      <%= link_to("HTML syntax validation", "https://validator.w3.org/nu/?doc="+request.original_url) %>
      <br>
      <%= link_to("Issue Tracker", "https://trello.com/b/TdI6bAGa/ait-food-rating") %>
      <br>
  </footer>

  </body>
</html>
