<p id="notice"><%= notice %></p>
<h1>PROBLEM SET1 Basics</h1>
<table id='itable'>
	<tr>
		<th>Problems</th>
		<th>Solutions</th>
	</tr>
	<tr>
		<td>
	<b>
	<%= link_to 'Divided by Zero', zero_exception_path %>
	</b>
		</td>
		<td>
                        <%= link_to 'Go to solution', soln1_path %>
                </td>
	</tr>
	<tr>
		<td>
			<b>
			<%= link_to 'Google News', googlenews_path %>
			</b>
		</td>
		<td>
			<%= link_to 'Go to solution', soln2_path %>
		</td>
	</tr>
</table>

<br>

