<%= form_with(model: stall, local: true) do |form| %>
  <% if stall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stall.errors.count, "error") %> prohibited this stall from being saved:</h2>

      <ul>
      <% stall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>Stall Name</b>
    <%= form.text_field :name, :class => "fcontrol"  %>
  </div>

  <div class="field">
    <b>Introduction</b>
    <%= form.text_area :desc %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, :class => "fcontrol", :placeholder => "stall.png"  %>
  </div>
  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address  %>
  </div>
  <div class="field">
    <%= form.label :latlog %>
    <%= form.text_field :latlog %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= collection_select(:stall, :owner, User.all, :id, :email, {:prompt => false}) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
