<p id="notice"><%= notice %></p>

<h1>Stalls</h1>

<table>
  <thead>
    <tr>
      <th>Created At</th>
      <th>Picture</th>
      <th>Name</th>
      <th>Introduction</th>
      <th>Owner</th>
      <th>Details</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @stalls.each do |stall| %>
      <tr>
        <td><%= stall.created_at %></td>
        <td>
    <% if stall.picture%>
    	<%= link_to image_tag(stall.picture, size: "120x90", :alt => stall.name), stall_path(stall.id) %>
    <% end %>
    </td>
        <td><%= stall.name %></td>
        <td><%= stall.desc %></td>
        <td><%= User.find(stall.owner).email %></td>
        <td><%= link_to 'Show', stall %></td>
        <% if user_signed_in? && current_user.admin? %>
          <td><%= link_to 'Edit', edit_stall_path(stall) %></td>
          <td><%= link_to 'Destroy', stall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if user_signed_in? && current_user.admin? %>
  <p class='center'><%= image_tag("add-circle.png", size: "20x20", :alt => "New") %>&nbsp;
  <%= link_to 'New Stall ', new_stall_path %></p>
<% end %>
