<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        max-height: 400px;
        margin: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */
    </style>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtvf5fw-Q54GekV7vGDCo5qY-wuzaUpEc&callback=initMap"
    async defer></script>
<p id="notice"><%= notice %></p>
<div class='center'>
<% if @stall.picture%>
  <%= image_tag(@stall.picture, size: "400x300", :alt => @stall.name) %>
<% end %>
<p>
  <h2>Stall: <%= @stall.name %></h2>
</p>
<div class='sblock'>
<p>
  <strong>Introduction:</strong>
  <%= @stall.desc %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @stall.picture %>
</p>

<p>
  <strong>Latlog:</strong>
  <%= @stall.latlog %>
  <div id="map"></div>
</p>

<p>
  <strong>Owner:</strong>
  <%= @sowner.email %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @stall.user.email %>
</p>
</div>
<p>
<% if user_signed_in? %>
    <% if (current_user.admin? || current_user.id==@stall.owner)%>
        &emsp;<%= link_to 'Edit', edit_stall_path(@stall) %>
        &emsp;<%= link_to "Create Dish", new_dish_path() %>
    <% end %>
<% end %>
</p>
</div>
