<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        max-height: 400px;
        margin: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      /* html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */
</style>
<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtvf5fw-Q54GekV7vGDCo5qY-wuzaUpEc&callback=initMap" async defer></script>

<div class='center'>
<%if @stall.picture.attached?%>
  <%= image_tag(@stall.picture, size: "400x300", :alt => @stall.name) %>
<% end %>
  <p>
    <h2>Stall: <%= @stall.name %></h2>
  </p>
<div class='sblock'>
<p>
  <strong>Introduction:</strong>
  <%= @stall.desc %>
</p>
<p>
  <strong>Address:</strong>
  <%= @stall.address %>
</p>
<p>
  <strong>Location:</strong>
  <%= @stall.latlog %>
  <div id="map"></div>
</p>
<p>
  <strong>Owner:</strong>
  <%= @sowner.email %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @stall.user.email %>
</p>
</div>
<p>
  <% if user_signed_in? && (current_user.admin? || current_user.id==@stall.owner)%>
        <p class='center'>
            <%= link_to image_tag("edit.ico", size: "20x20", :alt => "Edit")+' Edit Stall', edit_stall_path(@stall) %>
            <%= link_to image_tag("add-circle.png", size: "20x20", :alt => "New")+' New Dish', new_dish_path %>
        </p>
    <% end %>
</p>
</div>


<!-- <p>
<%= form_tag dishes_path, method: "get" do %>
  <%= label_tag(:dish, "Search: ") %>
  <%= text_field_tag(:dish) %>
  <%= submit_tag("Search") %>
<% end %>
</p> -->
<!-- ================================ All Dishes ================================ -->
<table>
  <tbody>
    <% col_size = 1
        @dishes.each do |dish|
            if (col_size%3)==1 %>
              <tr>
            <% end %>
            <div class='center'>
            <h2>Dishes by: <%= @stall.name %> </h2>
            </div>
            <td>
              <p class='center'>
                <strong>
                  <% if user_signed_in? && (current_user.admin?||current_user.id==dish.user_id) %>
                  <%= best_in_place dish, :name %>
                <% else %>
                  <%= dish.name %>
                <% end %>
              </strong>
                </p>
                <%if dish.picture.attached?%>
              <%= link_to image_tag(dish.picture, size: "220x165", :alt => dish.name), dish %>
            <br><%end%>
            <p class='center'>
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to 'Edit', edit_dish_path(dish) %>
                &emsp;
                <%= link_to 'Destroy', dish, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </p>
          </td>
            <%if (col_size%3)==0 %>
              </tr>
            <% end
            col_size = col_size+1 %>
       <% end %>
  </tbody>
</table>
<%= will_paginate @dishes %>
<br>
