<p id="notice"><%= notice %></p>
<div class='center'>
<%= image_tag(@stall.picture, size: "400x300", :alt => @stall.name) %>

<p>
  <h2>Stall: <%= @stall.name %></h2>
</p>
<div class='sblock'>
<p>
  <strong>Introduction:</strong>
  <%= @stall.desc %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @stall.picture %>
</p>

<p>
  <strong>Latlog:</strong>
  <%= @stall.latlog %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @owner %>
</p>

<p>
  <strong>Created By:</strong>
  <%= @stall.user.email %>
</p>
</div>
<p>
<% if user_signed_in? %>
    <% if current_user.admin? || (current_user.id==@stall.owner_id)%>
        &emsp;<%= link_to 'Edit', edit_stall_path(@stall) %>
        &emsp;<%= link_to "Create Dish", new_dish_path() %>
    <% end %>
<% end %>
</p>
</div>
